<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>node-express-mongodb-jwt-rest-api-skeleton</title>
</head>

<body>
  <h1>welcome to profile</h1>
  <div id="root">profile</div>
<script src="./../js/profile.js"></script>
</body>
<!-- <script type="module" src="./../app.js"></script> -->
<!-- path description:
    src="./../index.js"
    is path relative to root_dir/public/pages folder,
    as this file is renderd by rout at page.js in routs  -->

</html>
